@{
    Layout = "_product_layout";
}



<div class="container shop-category" id="sale">
    <p class="display-6 shop-name text-center">HAIR SERUMS</p>
    <div class="row">
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/hair growth.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal1">
                <div class="product-details">
                    <div class="product-name">HAIR GROWTH</div>
                    <div class="product-price">$20</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/hair regrowth.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal2">
                <div class="product-details">
                    <div class="product-name">HAIR REGROWTH</div>
                    <div class="product-price">$25</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal2">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/blue hair serum.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal3">
                <div class="product-details">
                    <div class="product-name">  BLUE HAIR SERUM</div>
                    <div class="product-price">$30</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal3">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/dot and sticky serum.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal4">
                <div class="product-details">
                    <div class="product-name">DOT AND STICKY</div>
                    <div class="product-price">$35</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal4">Quick View</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more rows with product items -->
<!-- Modal 1 -->
<div class="modal fade" id="productModal1" tabindex="-1" aria-labelledby="productModalLabel1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel1"> HAIR GROWTH SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/hair growth.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p> Carve Serum is a luxurious skincare product designed to deeply hydrate and rejuvenate the skin. Formulated with a blend of natural oils and potent antioxidants, this serum helps to combat signs of aging, leaving the skin looking radiant and youthful.</p>
                        <p>Aqua (Water), Glycerin, Cetyl Alcohol, Dimethicone, Cyclopentasiloxane, Caprylic/Capric Triglyceride, Butyrospermum Parkii (Shea Butter), Glyceryl Stearate, PEG-100 Stearate, Sodium Hyaluronate, Tocopheryl Acetate (Vitamin E), Retinyl Palmitate (Vitamin A), Cetearyl Alcohol, Stearic Acid, Phenoxyethanol, Ethylhexylglycerin, Fragrance.</p>
                        <p>Price: $20</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="productModal2" tabindex="-1" aria-labelledby="productModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel2">HAIR REGRWOTH</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/hair regrowth.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>The Ordinary Serum is a lightweight and fast-absorbing serum that targets multiple signs of aging, including fine lines, wrinkles, and uneven skin tone. With a high concentration of active ingredients, this serum delivers visible results and improves skin texture and firmness over time.</p>
                        <p>Aqua (Water), L-Ascorbic Acid (Vitamin C), Sodium Hyaluronate, Glycerin, Niacinamide, Zinc PCA, Panthenol, Sodium PCA, Allantoin, Sodium Hydroxide, Xanthan Gum, Ethoxydiglycol, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $25</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="productModal3" tabindex="-1" aria-labelledby="productModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel3">BLUE  SERUM </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/blue hair serum.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p> Dr. Rasheel White Serum is a revolutionary skincare solution crafted to brighten and illuminate the complexion. Infused with a potent blend of skin-loving ingredients, this serum works to diminish the appearance of dark spots, hyperpigmentation, and uneven skin tone, leaving your skin with a luminous glow. .</p>
                        <p>Aqua (Water), Glycerin, Niacinamide, Butylene Glycol, Arbutin, Alpha-Arbutin, Sodium Hyaluronate, Ascorbic Acid (Vitamin C), Tocopherol (Vitamin E), Retinol (Vitamin A), Licorice Extract, Mulberry Extract, Kojic Acid, Hydrolyzed Pearl Powder, Sodium PCA, Panthenol, Allantoin, Xanthan Gum, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $30</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="productModal4" tabindex="-1" aria-labelledby="productModalLabel4" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel4">DOT AND GLOW</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/dot and sticky serum.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>Achieve radiant and youthful skin with our Peach & Lily Serum. Formulated with a potent blend of natural ingredients, this serum deeply hydrates, firms, and brightens the complexion, leaving you with a luminous glow. Say goodbye to dullness and hello to healthy, radiant skin!</p>
                        <p>Water, Glycerin, Butylene Glycol, Niacinamide, Betaine, Peach Extract, Lily Extract, Hyaluronic Acid, Allantoin, Panthenol, Xanthan Gum, Phenoxyethanol.</p>
                        <p>Price: $35</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 2 ND ROW -->
<div class="container shop-category" id="sale">
    <div class="row">
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/MAX HAIR.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal7">
                <div class="product-details">
                    <div class="product-name">MAX HAIR SERUM </div>
                    <div class="product-price">$20</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal7">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/HELLO HAIR.jpg" alt="" data-bs-toggle="modal" data-bs-target="#productModal8">
                <div class="product-details">
                    <div class="product-name"> HELLO HAIR</div>
                    <div class="product-price">$25</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal8">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/REDONIONSHAMPOO.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal9">
                <div class="product-details">
                    <div class="product-name">RED ONION SERUM</div>
                    <div class="product-price">$30</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal9">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/GLOW HAIR.jpg" alt="" data-bs-toggle="modal" data-bs-target="#productModal10">
                <div class="product-details">
                    <div class="product-name">GLOW HAIR</div>
                    <div class="product-price">$35</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal10">Quick View</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more rows with product items -->
<!-- Modal 1 -->
<div class="modal fade" id="productModal7" tabindex="-1" aria-labelledby="productModalLabel7" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel7">MAX HAIR SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/MAX HAIR.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>Carve Serum is a luxurious skincare product designed to deeply hydrate and rejuvenate the skin. Formulated with a blend of natural oils and potent antioxidants, this serum helps to combat signs of aging, leaving the skin looking radiant and youthful.</p>
                        <p>Aqua (Water), Glycerin, Cetyl Alcohol, Dimethicone, Cyclopentasiloxane, Caprylic/Capric Triglyceride, Butyrospermum Parkii (Shea Butter), Glyceryl Stearate, PEG-100 Stearate, Sodium Hyaluronate, Tocopheryl Acetate (Vitamin E), Retinyl Palmitate (Vitamin A), Cetearyl Alcohol, Stearic Acid, Phenoxyethanol, Ethylhexylglycerin, Fragrance.</p>
                        <p>Price: $20</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="productModal8" tabindex="-1" aria-labelledby="productModalLabel8" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel8">HELLO SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/HELLO HAIR.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>The Ordinary Serum is a lightweight and fast-absorbing serum that targets multiple signs of aging, including fine lines, wrinkles, and uneven skin tone. With a high concentration of active ingredients, this serum delivers visible results and improves skin texture and firmness over time.</p>
                        <p>Aqua (Water), L-Ascorbic Acid (Vitamin C), Sodium Hyaluronate, Glycerin, Niacinamide, Zinc PCA, Panthenol, Sodium PCA, Allantoin, Sodium Hydroxide, Xanthan Gum, Ethoxydiglycol, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $25</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="productModal9" tabindex="-1" aria-labelledby="productModalLabel9" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel9">RED ONOIONSERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/REDONIONSHAMPOO.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>Dr. Rasheel White Serum is a revolutionary skincare solution crafted to brighten and illuminate the complexion. Infused with a potent blend of skin-loving ingredients, this serum works to diminish the appearance of dark spots, hyperpigmentation, and uneven skin tone, leaving your skin with a luminous glow.</p>
                        <p>Aqua (Water), Glycerin, Niacinamide, Butylene Glycol, Arbutin, Alpha-Arbutin, Sodium Hyaluronate, Ascorbic Acid (Vitamin C), Tocopherol (Vitamin E), Retinol (Vitamin A), Licorice Extract, Mulberry Extract, Kojic Acid, Hydrolyzed Pearl Powder, Sodium PCA, Panthenol, Allantoin, Xanthan Gum, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $30</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="productModal10" tabindex="-1" aria-labelledby="productModalLabel10" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel10">GLOW HAIR SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/GLOW HAIR.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>Achieve radiant and youthful skin with our Peach & Lily Serum. Formulated with a potent blend of natural ingredients, this serum deeply hydrates, firms, and brightens the complexion, leaving you with a luminous glow. Say goodbye to dullness and hello to healthy, radiant skin!</p>
                        <p>Water, Glycerin, Butylene Glycol, Niacinamide, Betaine, Peach Extract, Lily Extract, Hyaluronic Acid, Allantoin, Panthenol, Xanthan Gum, Phenoxyethanol.</p>
                        <p>Price: $35</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 3 RD ROW -->
<div class="container shop-category" id="sale">

    <div class="row">
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/GROW LONG.jpeg" alt="" data-bs-toggle="modal" data-bs-target="#productModal11">
                <div class="product-details">
                    <div class="product-name">GROW LONG SERUM</div>
                    <div class="product-price">$20</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal11">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/purpleshampoofront.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal12">
                <div class="product-details">
                    <div class="product-name">PURPLE HAIR SERUM </div>
                    <div class="product-price">$25</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal12">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/ANTI DANDRUFF.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal13">
                <div class="product-details">
                    <div class="product-name">ANTI DANDRUFF SERUM</div>
                    <div class="product-price">$30</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal13">Quick View</button>
                </div>
            </div>
        </div>
        <div class="col-12  col-lg-3 col-xxl-3 col-xl-3 col-md-6 col-sm-12">
            <div class="product-item">
                <img src="~/img/blueshampoofront.webp" alt="" data-bs-toggle="modal" data-bs-target="#productModal14">
                <div class="product-details">
                    <div class="product-name"> BLUE HAIR SERUM</div>
                    <div class="product-price">$35</div>
                    <button class="btn btn-info add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal1">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                    <button class="btn btn-primary add-to-cart" data-bs-toggle="modal" data-bs-target="#productModal14">Quick View</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add more rows with product items -->
<!-- Modal 1 -->
<div class="modal fade" id="productModal11" tabindex="-1" aria-labelledby="productModalLabel11" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel11"> GROW LONG  SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/GROW LONG.jpeg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p> Carve Serum is a luxurious skincare product designed to deeply hydrate and rejuvenate the skin. Formulated with a blend of natural oils and potent antioxidants, this serum helps to combat signs of aging, leaving the skin looking radiant and youthful.</p>
                        <p>Aqua (Water), Glycerin, Cetyl Alcohol, Dimethicone, Cyclopentasiloxane, Caprylic/Capric Triglyceride, Butyrospermum Parkii (Shea Butter), Glyceryl Stearate, PEG-100 Stearate, Sodium Hyaluronate, Tocopheryl Acetate (Vitamin E), Retinyl Palmitate (Vitamin A), Cetearyl Alcohol, Stearic Acid, Phenoxyethanol, Ethylhexylglycerin, Fragrance.</p>
                        <p>Price: $20</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="modal fade" id="productModal12" tabindex="-1" aria-labelledby="productModalLabel12" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel12"> PURPLE HAIR SERUM </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/purpleshampoofront.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>The Ordinary Serum is a lightweight and fast-absorbing serum that targets multiple signs of aging, including fine lines, wrinkles, and uneven skin tone. With a high concentration of active ingredients, this serum delivers visible results and improves skin texture and firmness over time.</p>
                        <p>Aqua (Water), L-Ascorbic Acid (Vitamin C), Sodium Hyaluronate, Glycerin, Niacinamide, Zinc PCA, Panthenol, Sodium PCA, Allantoin, Sodium Hydroxide, Xanthan Gum, Ethoxydiglycol, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $25</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="modal fade" id="productModal13" tabindex="-1" aria-labelledby="productModalLabel13" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel13">ANTI DANDRUFF SHAMPOO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/ANTI DANDRUFF.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p> Dr. Rasheel White Serum is a revolutionary skincare solution crafted to brighten and illuminate the complexion. Infused with a potent blend of skin-loving ingredients, this serum works to diminish the appearance of dark spots, hyperpigmentation, and uneven skin tone, leaving your skin with a luminous glow. .</p>
                        <p>Aqua (Water), Glycerin, Niacinamide, Butylene Glycol, Arbutin, Alpha-Arbutin, Sodium Hyaluronate, Ascorbic Acid (Vitamin C), Tocopherol (Vitamin E), Retinol (Vitamin A), Licorice Extract, Mulberry Extract, Kojic Acid, Hydrolyzed Pearl Powder, Sodium PCA, Panthenol, Allantoin, Xanthan Gum, Phenoxyethanol, Ethylhexylglycerin.</p>
                        <p>Price: $30</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="modal fade" id="productModal14" tabindex="-1" aria-labelledby="productModalLabel14" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel14">BLUE SHAMPOO SERUM</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <img src="~/img/blueshampoofront.webp" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6">
                        <p>Achieve radiant and youthful skin with our Peach & Lily Serum. Formulated with a potent blend of natural ingredients, this serum deeply hydrates, firms, and brightens the complexion, leaving you with a luminous glow. Say goodbye to dullness and hello to healthy, radiant skin!</p>
                        <p>Water, Glycerin, Butylene Glycol, Niacinamide, Betaine, Peach Extract, Lily Extract, Hyaluronic Acid, Allantoin, Panthenol, Xanthan Gum, Phenoxyethanol.</p>
                        <p>Price: $35</p>
                        <button class="btn btn-primary add-to-cart">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



