@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <!-- About Us Content -->
    <div class="about-us">
        <div class="row">
            <div class="col-md-6">
                <div class="about-text">
                    <h2>About Us</h2>
                    <p>Since its inception in 2008, Zen Skin Care has been a leading brand in the field of skincare and personal care, offering products formulated with beneficial ingredients and cutting-edge technologies. Owned by Mablay Beauty (Pvt.) LTD, Pakistan, our mission is to spread beauty by providing 100% safe, natural, and high-quality products to our loyal customers worldwide.</p>
                    <p>At Zen Skin Care, we are committed to achieving brilliance in everything we do. Initially sourcing products from renowned enterprises in Turkey, China, and Pakistan, we have now established our own state-of-the-art manufacturing facility in Faisalabad, Pakistan, under the name MABLAY BEAUTY (Pvt.) Ltd.</p>
                    <p>As a leading personal care and hair care brand, we uphold our beliefs by providing consumers with high-quality products that are both safe and beneficial for the skin, hair, and body. Our products undergo rigorous testing to ensure safety and effectiveness. With a strong presence in all major cities of Pakistan and a growing online presence, Zen Skin Care is emerging as a market leader, competing directly with industry giants like L’Oreal, Nivea, Neutrogena, and Himalaya.</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-image">
                    <img src="~/img/facial girl image.webp" alt="About Image">
                </div>
            </div>
        </div>
    </div>
</div>

@{
}
